.notification-dot {
  position: absolute;
  background: #ffffff;
  color: #282828;
  font-size: 10px;
  font-weight: 700;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 19px;
  margin: -8px 0 0 -28px;
}
.sb-sidenav-menu > .nav > .toggle {
  overflow: hidden;
  transition: max-height 0.3s ease;
  height: auto;
  max-height: 0;
}
.sb-sidenav-menu > .nav > .toggle.toggle-open2 {
  max-height: calc(3em + 64px);
}
.sb-sidenav-menu > .nav > .toggle.toggle-open3 {
  max-height: calc(5em + 96px);
}
.modal > .modal-dialog > .modal-content {
  border: none;
  border-radius: 15px;
}
.view_request_title {
  margin: 0;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid #d7d7d7;
  display: block;
  padding: 15px;
  width: 100%;
  font-family: Segoe ui bold;
  border-top: 1px solid #d7d7d7;
  background: #ececec;
}
.dv_cards {
  margin: 50% 0 0 0;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 4px 21px -5px #11559e;
}
.form-control.dv_login_form_input {
  border-color: #ffffff;
  padding: 15px;
  height: 56px;
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.08);
  margin: 0 0 15px 0;
}
.form-control.dv_login_form_input:focus {
  border-color: #2874f0;
}
@media (max-width: 991px) {
  .dv_cards {
    margin: 20% 0 0 0;
  }
}
.dv_give_rating {
  color: rgb(252, 215, 3);
}
.dv_give_rating > svg {
  margin-right: 10px;
}
.pending {
  text-transform: capitalize;
  color: #ff9800;
}
.completed,
.successful,
.rescheduled {
  text-transform: capitalize;
  color: green;
}
.cancelled,
.missed {
  text-transform: capitalize;
  color: red;
}
.accepted {
  text-transform: capitalize;
  color: #007bff;
}
.rejected {
  text-transform: capitalize;
  color: #999;
}
.subtitle {
  color: #adadad;
  display: block;
  margin: 0 0 10px 0;
  text-transform: capitalize;
}
.add_new_button {
  background: #007bff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}
ul.dv_verification_pending {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.dv_verification_pending > li {
  display: block;
  margin: 0;
  padding: 0;
}
ul.dv_verification_pending > li > a {
  display: block;
  margin: 0;
  padding: 10px;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px solid #00000012;
}
ul.dv_verification_pending > li > a:hover,
ul.dv_verification_pending > li > a:focus {
  text-decoration: none;
}
