@media (max-width: 991px) {
  h1.dv_home_Service_content {
    font-size: 30px;
  }
  .dv_heading_of_panel {
    margin: 0;
  }
  header.dv_header {
    height: 450px;
  }
  span.input-group-text.dv_input_text_group {
    padding: 10px;
    height: 45px;
    font-size: 13px;
  }
  .form-control.dv_group_search_input {
    padding: 10px;
    height: 45px;
  }
  .dv_padding_right_0,
  .dv_padding_left_0 {
    padding: 0;
  }
  .dv_select_service_page {
    padding: 15px 15px 90px 15px;
  }
  .dv_booking_details_page {
    padding: 15px;
  }
  button.btn.btn-default.dv_next_to_btn_for_all {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .dv_divider_in_booking_request {
    margin: 10px 0;
  }
  span.dv_section_heading {
    font-size: 16px;
  }
  .dv_select_service_3 > ul {
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 0;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
  }
  .dv_select_service_3 > ul > li {
    width: auto;
    border-bottom: none;
    margin: 0 15px 15px 0;
    padding: 0px 15px;
    font-weight: 600;
  }
  ul.dv_select_service_ul.dv_last_service_border > li {
    display: inline-block;
  }
  .dv_select_service_3 > ul > li.selected {
    border-left: none;
    border-bottom: 3px solid #2874f0;
  }
  .dv_select_service_3 > ul > li.selected > svg:nth-child(2) {
    display: block !important;
    float: right;
    margin: 10px 0 0 10px;
    transform: rotate(90deg);
  }
  /*c>li { width: 100%; display: inline-block; }		*/
  .form-control.dv_use_current_location {
    margin: 20px 0;
  }
  .dv_md_margin_0 {
    margin: 0;
  }
  ul.dv_service_details_pages > li > a > svg {
    margin: 0 auto 10px auto !important;
    display: block;
    float: none;
  }
  ul.dv_service_details_pages > li > a {
    font-size: 13px;
    padding: 10px 0;
  }
  ul.dv_services_ul_height::-webkit-scrollbar {
    height: 4px;
  }
  ul.dv_select_service_ul::-webkit-scrollbar {
    height: 4px;
  }
  .dv_last_service_border {
    height: auto !important;
    overflow: inherit !important;
    overflow-x: inherit !important;
    overflow-y: auto;
    display: -webkit-box;
    border-radius: 0;
  }
  .dv_last_service_border > li {
    width: 100% !important;
  }
  strong.dv_tabs_value {
    display: block;
  }
  .dv_service_details_information {
    padding: 30px 0;
  }
  .dv_service_detail_sm_booking {
    display: block;
  }
  .dv_pd_40_20 {
    padding: 20px 0;
  }
  .dv_get_more_services {
    display: block !important;
  }
  .dv_about_us_cards,
  .dv_four_cards {
    margin: 0 0 30px 0;
  }
  .dv_review_counting_wrapper {
    padding: 30px 0 60px 0;
  }
  .dv_about_us_wrapper {
    padding: 15px 0 30px 0;
    background: rgba(40, 116, 240, 0.05);
  }
  .dv_career_form_wrapper {
    padding: 15px 0 30px 0;
  }
  .dv_career_container,
  .dv_seller_container {
    padding: 15px 15px 80px 15px;
  }
  .dv_contact_map,
  .dv_contact_form,
  .dv_contactus_wrapper,
  footer {
    padding: 15px 0;
  }
  ul.dv_footer_menu_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    border-radius: 0;
    display: -moz-box;
  }
  ul.dv_footer_menu_links > li {
    margin: 0 15px 0 0;
    padding: 0 0 14px 0;
    display: block;
  }

  ul.dv_footer_menu_links_second {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    border-radius: 0;
    display: -moz-box;
  }
  ul.dv_footer_menu_links_second > li {
    margin: 0 15px 0 0;
    padding: 0 0 14px 0;
    display: block;
  }
  .dv_my_booking_wrapper {
    padding: 15px 0;
  }
  a.dv_sm_show {
    display: block !important;
  }
  ul.navbar-nav.float-right.dv_menu_top > li {
    display: flex;
  }
  .dv_hide_mobile {
    display: none;
  }
  .dv_middle_two_banner
    > .container
    > .row
    > .dv_middle_two_banner_6:nth-child(1) {
    margin: 0 0 20px 0;
  }
  .dv_middle_full_banner {
    padding: 20px 0 0 0;
  }
  .dv_middle_two_banner {
    padding: 20px 0;
  }
  ul.nav.nav-tabs.dv_nav_tabs > li.nav-item > a {
    font-size: 12px;
  }
  .addnewaddress {
    padding: 0 15px;
  }
  .dv_seller_registration_wrapper {
    padding: 0;
  }
}
@media (max-width: 767px) {
  header.dv_header {
    height: 380px;
  }
  .dv_all_cat_2 > a > svg {
    width: 35px;
    height: 35px;
  }
  .dv_review_cards {
    text-align: center;
  }
  .dv_review_cards > img {
    float: none;
    margin: 0 0 15px 0;
  }
  .dv_review_holder_name_review {
    padding: 0;
  }
  .dv_name_holder > svg {
    width: 15px;
    height: 15px;
    float: none;
    margin: 0px 8px 0 0;
  }
  .dv_career_container,
  .dv_seller_container {
    width: 100%;
  }
  .dv_left_customer_height {
    display: flex;
  }
  .dv_left_customer_height > .customer-drawer {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 15px;
  }
  .customer-drawer .text {
    margin: 0;
    width: 100%;
  }
  .customer-drawer > svg {
    display: block !important;
  }
  .profile-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 40px;
  }
  .settings-tray {
    display: none;
  }
  .dv_more_seller_information {
    display: block !important;
  }
  .customer-drawer.customer-drawer--onhover > .text > h6 {
    font-size: 12px;
    width: 90px;
    float: left;
    margin: 6px 0 0 10px;
  }
  .customer-drawer.customer-drawer--onhover > .text > p.text-muted,
  .customer-drawer.customer-drawer--onhover > .text > ul,
  span.time.text-muted.small {
    display: none;
  }
}

@media (max-width: 575px) {
  h1.dv_home_Service_content {
    margin: 3% 0 0 0;
  }
  .dv_choose_location_md_dialog {
    max-width: 90%;
  }
  .dv_select_service_heading > div {
    padding: 0 15px;
  }
  .dv_fixed_menu {
    padding: 10px 15px;
  }
  .dv_review_counting_wrapper {
    padding: 15px 0 30px 0;
  }
  ul.nav.nav-tabs.dv_nav_tabs > li.nav-item > a.active > svg,
  ul.nav.nav-tabs.dv_nav_tabs > li.nav-item > a > svg {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 480px) {
  .dv_all_cat_2 > a {
    padding: 20px 0;
    height: auto;
  }
}

@media (max-width: 380px) {
  ul.nav.nav-tabs.dv_nav_tabs > li.nav-item > a {
    padding: 10px;
  }
}

@media (max-width: 340px) {
  ul.nav.nav-tabs.dv_nav_tabs > li.nav-item {
    padding: 0px 5px 0 0;
  }
}
